body { margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #f6eeee; 
  color: #333; }
 .arts-section 
 { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 10px;  }

 .arts-container 
 { padding: 20px;

}

 .header-container {
   display: flex; 
   justify-content: space-between; 
   align-items: center; margin-bottom: 20px;
   }
 .search-input { width: 20%;
   padding: 10px; 
   font-size: 16px; }

 .sort-dropdown { width: 20%; }

 .art-card {
   flex: 1 1 calc(18.22% - 10px);
    margin: 10px; 
    box-sizing: border-box;
     max-width: 400px; }

.art-card-content { background: #f7e4e4; 
  border: 1px solid #f7d9d9; 
  border-radius: 8px; overflow: hidden; 
  display: flex; flex-direction: column; align-items: center;
   padding: 15px; 
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }

 .art-card-header { display: flex;
   align-items: center;
    gap: 5px;
   margin-bottom: 10px; 
   font-size: 14px; 
   color: #555; }

 .art-category { font-weight: bold; }
 .pure-button {
  background: none; /* No background */
  border: none; /* No border */
  padding: 0; /* No padding */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* Remove outline */
}
 .art-image-wrapper {
   width:80%;
   aspect-ratio: 9/ 15; 
    overflow: hidden; 
    border-radius: 8px;
     margin-bottom: 10px; }

 .art-image { width: 100%;
   height: 100%;
    object-fit: cover; 
    object-position: center;
}

 .art-title { font-size: 18px; 
  font-weight: bold; 
  color: #333; 
  margin: 10px 0;
   text-align: center; }

 .art-footer { display: flex; 
  justify-content: space-between;
   align-items: center; 
   width: 100%; 
   margin-top: 10px; }

 .art-price { font-size: 16px;
   font-weight: bold; 
   color: #060606; }
   /* Styling for the shopping cart button */
.p-button-rounded {
  background-color: #6990b1; /* Light blue background */
  border-color: #5a7890; /* Light blue border */
  color: white; /* White icon color */
  transition: all 0.3s ease; /* Smooth transition for hover and focus effects */
}

.p-button-rounded:hover {
  background-color: #6c8295; /* Darker blue on hover */
  border-color: #6d89a1;
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.p-button-rounded:focus {
  background-color: #647b8e; /* Keep the light blue background */
  border-color: #7a98b0; /* Keep the light blue border */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 3px rgba(66, 165, 245, 0.5); /* Add a blue focus ring */
}

.p-button-rounded:active {
  background-color: #76a9e3; /* Darker blue when pressed */
  border-color: #85b6ee;
  box-shadow: none; /* Remove shadow when pressed */
}

 @media (max-width: 80px) { 
  .art-card { flex: 1 1 calc(30% - 10px);  } }

@media (max-width: 70px) {
   .art-card { flex: 1 1 calc(45% - 10px); } }

