.header {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* מיישר את הלוגו לצד ימין */
    padding: 10px;
    background-color: #f8f9fa; /* ניתן לשנות לצבע אחר אם צריך */
}

.shop-logo {
    height: 200px; /* אפשר לשנות גודל בהתאם */
    width: auto;
}
