/* גודל ברירת מחדל של המילים והאייקונים */
.p-menubar .p-menuitem-text {
    font-size: 1.2rem; /* גודל טקסט ברירת מחדל */
    font-weight: bold; /* טקסט מודגש */
  }
  
  .p-menubar .p-menuitem-icon {
    font-size: 1.5rem; /* גודל אייקון ברירת מחדל */
  }
  
  /* התאמה למסכים קטנים */
  @media (max-width: 768px) {
    .p-menubar .p-menuitem-text {
      font-size: 1rem; /* הקטן את הטקסט במסכים קטנים */
    }
  
    .p-menubar .p-menuitem-icon {
      font-size: 1.2rem; /* הקטן את האייקונים במסכים קטנים */
    }
  }
  /* Custom class for smaller labels */
.menu-label-small .p-menuitem-label {
  font-size: 2px; 
  /* Adjust the font size as needed */
  size: 8px; /* Adjust the font size as needed */
}

/* Ensure the icon size remains unchanged */
.p-menuitem-icon {
  font-size: 2.rem; /* Keep the icon size consistent */
  size: 70px;
}
  /* התאמה למסכים גדולים */
  @media (min-width: 1200px) {
    .p-menubar .p-menuitem-text {
      font-size: 1.5rem; /* הגדל את הטקסט במסכים גדולים */
    }
  
    .p-menubar .p-menuitem-icon {
      font-size: 1.8rem; /* הגדל את האייקונים במסכים גדולים */
    }
  }